
<div class="card container-fluid my-5" style="width: 80rem;">
    <div class="card-body">
      <h5 class="card-title mb-4">About Us</h5>
      <h6 class="card-subtitle mb-2 text-muted">Details </h6>
      <p class="card-text">TodoList is a simple, easy-to-use, and clean way to stay on top of your to-do list and improve your productivity--whether its your shopping list or something more complex. Not only does it let you track your own workload, but it also makes it easy to share different tasks with your team so that everyone can stay on track. The app offers various useful features such as subtasks, sub-projects, recurring tasks, notifications, and more.</p>
    </div>
  </div>